<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <connectionStrings>   
        <add name="formSourceDb" 
             connectionString="Data Source=J-S7\MSSQLSERVER14;Initial Vatalog=J;Persist Security info=True;Integrated Security=SSPI;" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>